<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/favicon.png" rel="icon" />
    <title>bLOCKBOX</title>
    <meta name="description" content="Sell digitally locked assets on the ethereum blockchain.">

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css?v=5" />
</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End -->
    <!-- Document Wrapper
    ============================================= -->
    <div id="main-wrapper">
        <!-- Header
        ============================================= -->
        <header id="header">
            <div class="container">
                <div class="header-row">
                    <div class="header-column justify-content-start">
                        <!-- Logo
                        ============================= -->
                        <div class="logo">
                            <a class="d-flex" href="/" title="bLOCKBOX"><i class="ri-door-lock-box-fill"></i> <span>b</span>LOCKBOX</a>
                        </div>
                        <!-- Logo end -->
                        <!-- Collapse Button
                        ============================== -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
                        <!-- Collapse Button end -->
                        <!-- Primary Navigation
                        ============================== -->
                        <nav class="primary-menu navbar navbar-expand-lg">
                            <div id="header-nav" class="collapse navbar-collapse">
                                <ul class="navbar-nav mr-auto">
                                    <li class="active"><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="transactions.html">Transactions</a></li>
                                    <li><a href="send-money.html">Send/Request</a></li>
                                    <li><a href="help.html">Help</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">Features</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">Headers</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="index.html">Light Version (Default)</a></li>
                                                    <li><a class="dropdown-item" href="feature-header-dark.html">Dark Version</a></li>
                                                    <li><a class="dropdown-item" href="feature-header-primary.html">Primary Version</a></li>
                                                    <li><a class="dropdown-item" href="index-2.html">Transparent Version</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">Navigation DropDown</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="index.html">Light Version (Default)</a></li>
                                                    <li><a class="dropdown-item" href="feature-navigation-dropdown-dark.html">Dark Version</a></li>
                                                    <li><a class="dropdown-item" href="feature-navigation-dropdown-primary.html">Primary Version</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">Second Navigation</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="send-money.html">Default Version</a></li>
                                                    <li><a class="dropdown-item" href="deposit-money.html">Alternate Version</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">Page Headers</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="feature-page-header-left-alignment.html">Left Alignment</a></li>
                                                    <li><a class="dropdown-item" href="feature-page-header-center-alignment.html">Center Alignment</a></li>
                                                    <li><a class="dropdown-item" href="feature-page-header-light.html">Light Version</a></li>
                                                    <li><a class="dropdown-item" href="feature-page-header-dark.html">Dark Version</a></li>
                                                    <li><a class="dropdown-item" href="feature-page-header-primary.html">Primary Version</a></li>
                                                    <li><a class="dropdown-item" href="feature-page-header-custom-background.html">Custom Background</a></li>
                                                    <li><a class="dropdown-item" href="feature-page-header-custom-background-with-transparent-header.html">Custom Background 2</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">Footer</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="index.html">Light Version Default</a></li>
                                                    <li><a class="dropdown-item" href="index-2.html">Alternate Version</a></li>
                                                    <li><a class="dropdown-item" href="feature-footer-dark.html">Dark Version</a></li>
                                                    <li><a class="dropdown-item" href="feature-footer-primary.html">Primary Version</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="dropdown-item" href="feature-layout-boxed.html">Layout Boxed</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-mega">
                                        <a class="dropdown-toggle" href="#">Pages</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="dropdown-mega-content">
                                                    <div class="row">
                                                        <div class="col-lg">
                                                            <span class="sub-title">Homepage</span>
                                                            <ul class="dropdown-mega-submenu">
                                                                <li><a class="dropdown-item" href="index.html">Home Version 1</a></li>
                                                                <li><a class="dropdown-item" href="index-2.html">Home Version 2</a></li>
                                                                <li><a class="dropdown-item" href="landing-page-send.html">Landing Page - Send</a></li>
                                                                <li><a class="dropdown-item" href="landing-page-receive.html">Landing Page - Receive</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg">
                                                            <span class="sub-title">Account</span>
                                                            <ul class="dropdown-mega-submenu">
                                                                <li><a class="dropdown-item" href="settings-profile.html">My Profile</a></li>
                                                                <li><a class="dropdown-item" href="settings-security.html">Security</a></li>
                                                                <li><a class="dropdown-item" href="settings-payment-methods.html">Payment Methods</a></li>
                                                                <li><a class="dropdown-item" href="settings-notifications.html">Notifications</a></li>
                                                                <li class="dropdown">
                                                                    <a class="dropdown-item dropdown-toggle" href="#">Login</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="login.html">Login Page 1</a></li>
                                                                        <li><a class="dropdown-item" href="login-2.html">Login Page 2</a></li>
                                                                        <li><a class="dropdown-item" href="login-3.html">Login Page 3</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown">
                                                                    <a class="dropdown-item dropdown-toggle" href="#">Signup</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="signup.html">Signup Page 1</a></li>
                                                                        <li><a class="dropdown-item" href="signup-2.html">Signup Page 2 </a></li>
                                                                        <li><a class="dropdown-item" href="signup-3.html">Signup Page 3 </a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg">
                                                            <span class="sub-title">Dashboard</span>
                                                            <ul class="dropdown-mega-submenu">
                                                                <li><a class="dropdown-item" href="dashboard.html">Dashboard</a></li>
                                                                <li><a class="dropdown-item" href="transactions.html">Transactions</a></li>
                                                                <li class="dropdown">
                                                                    <a class="dropdown-item dropdown-toggle" href="#">Send Money</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="send-money.html">Send Money</a></li>
                                                                        <li><a class="dropdown-item" href="send-money-confirm.html">Send Money Confirm</a></li>
                                                                        <li><a class="dropdown-item" href="send-money-success.html">Send Money Success </a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown">
                                                                    <a class="dropdown-item dropdown-toggle" href="#">Request Money</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="request-money.html">Request Money</a></li>
                                                                        <li><a class="dropdown-item" href="request-money-confirm.html">Request Money Confirm</a></li>
                                                                        <li><a class="dropdown-item" href="request-money-success.html">Request Money Success </a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown">
                                                                    <a class="dropdown-item dropdown-toggle" href="#">Deposit Money</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="deposit-money.html">Deposit Money</a></li>
                                                                        <li><a class="dropdown-item" href="deposit-money-confirm.html">Deposit Money Confirm</a></li>
                                                                        <li><a class="dropdown-item" href="deposit-money-success.html">Deposit Money Success </a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown">
                                                                    <a class="dropdown-item dropdown-toggle" href="#">Withdraw Money</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="withdraw-money.html">Withdraw Money</a></li>
                                                                        <li><a class="dropdown-item" href="withdraw-money-confirm.html">Withdraw Money Confirm</a></li>
                                                                        <li><a class="dropdown-item" href="withdraw-money-success.html">Withdraw Money Success </a></li>
                                                                    </ul>
                                                                </li>
                                                                <li><a class="dropdown-item" href="notifications.html">Notifications</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg">
                                                            <span class="sub-title">Blog</span>
                                                            <ul class="dropdown-mega-submenu">
                                                                <li><a class="dropdown-item" href="blog.html">Blog Standard</a></li>
                                                                <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
                                                                <li><a class="dropdown-item" href="blog-list.html">Blog List</a></li>
                                                                <li><a class="dropdown-item" href="blog-single.html">Blog Single Right Sidebar</a></li>
                                                                <li><a class="dropdown-item" href="blog-single-left-sidebar.html">Blog Single Left Sidebar</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg">
                                                            <span class="sub-title">Others</span>
                                                            <ul class="dropdown-mega-submenu">
                                                                <li><a class="dropdown-item" href="about-us.html">About Us</a></li>
                                                                <li><a class="dropdown-item" href="fees.html">Fees</a></li>
                                                                <li><a class="dropdown-item" href="help.html">Help</a></li>
                                                                <li><a class="dropdown-item" href="contact-us.html">Contact Us</a></li>
                                                                <li><a class="dropdown-item" href="404.html">404</a></li>
                                                                <li><a class="dropdown-item" href="coming-soon.html" target="_blank">Coming Soon</a></li>
                                                                <li class="dropdown">
                                                                    <a class="dropdown-item dropdown-toggle" href="#">Elements</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="elements.html">Elements 1</a></li>
                                                                        <li><a class="dropdown-item" href="elements-2.html">Elements 2</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Primary Navigation end -->
                    </div>
                    <div class="header-column justify-content-end">
                        <!-- My Profile
                        ============================== -->
                        <nav class="login-signup navbar navbar-expand">
                            <ul class="navbar-nav">
                                <li class="dropdown profile ml-2">
                                    <a class="px-0 dropdown-toggle" href="#"><img class="blockie rounded-circle" src="" width="40" height="40" v-bind:title="ethAddress" v-bind:alt="ethAddress"></a>
                                    <ul class="dropdown-menu">
                                        <li class="text-center text-3 py-2">Hi, Smith Rhodes</li>
                                        <li class="dropdown-divider mx-n3"></li>
                                        <li><a class="dropdown-item" href="settings-profile.html"><i class="fas fa-user"></i>My Profile</a></li>
                                        <li><a class="dropdown-item" href="settings-Security.html"><i class="fas fa-shield-alt"></i>Security</a></li>
                                        <li><a class="dropdown-item" href="settings-payment-methods.html"><i class="fas fa-credit-card"></i>Payment Methods</a></li>
                                        <li><a class="dropdown-item" href="settings-notifications.html"><i class="fas fa-bell"></i>Notifications</a></li>
                                        <li class="dropdown-divider mx-n3"></li>
                                        <li><a class="dropdown-item" href="help.html"><i class="fas fa-life-ring"></i>Need Help?</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- My Profile end -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
        <!-- Content
        ============================================= -->
        <div id="content" class="py-4">
            <div v-if="ethAddress === '0x0000000000000000000000000000000000000000'" class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
                        <div class="bg-white shadow-md rounded p-3 pt-sm-4 pb-sm-5 px-sm-5">
                            <h3 class="font-weight-400 text-center mb-4">Connect with MetaMask</h3>
                            <hr class="mx-n5">
                            <button class="btn btn-primary btn-block my-4" type="submit" onclick="login()">Connect</button>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="ethAddress !== '0x0000000000000000000000000000000000000000'" class="container">
                <div v-if="transactionHash !== null" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading">Transaction Sent</h4>
                    <p>Your transaction has been sent an will be processed on the ethereum network shortly.</p>
                    <hr>
                    <p class="mb-0"><a v-bind:href="'https://ropsten.etherscan.io/tx/' + transactionHash" target="_blank">Click here to view the transaction on etherscan.</a></p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div v-if="view === 'default'" class="row">

                </div>
                <div v-if="view === 'lockbox.create'" class="row">
                    <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                        <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
                            <h3 class="text-5 font-weight-400 mb-3 mb-sm-4">Create Lockbox</h3>
                            <hr class="mx-n3 mx-sm-n5 mb-4">
                            <div id="createLockboxForm">
                                <div class="form-group">
                                    <label for="lockboxId">Lockbox Signer Domain</label>
                                    <div class="input-group">
                                        <input id="lockboxSignerDomain" type="text" class="form-control" v-bind:value="lockbox.signer.domain" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lockboxId">Lockbox ID</label>
                                    <div class="input-group">
                                        <input id="lockboxId" type="text" class="form-control" v-bind:value="lockbox.id" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="price" style="display:block;">Price <span class="float-right">&thickapprox; {{getFiatAmount(lockbox.price)}} USD</span></label>
                                    <div class="input-group">
                                        <input id="price" v-model.number="lockbox.price" type="number" step=".0001" class="form-control" placeholder="0" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">ETH</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="minBidStep" style="display:block;">Minimum Bid Step <span class="float-right">&thickapprox; {{getFiatAmount(lockbox.minBidStep)}} USD</span></label>
                                    <div class="input-group">
                                        <input id="minBidStep" v-model.number="lockbox.minBidStep" type="number" step=".0001" class="form-control" placeholder="0" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">ETH</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="blockDuration" style="display:block;">Block Duration <span class="float-right">&thickapprox; {{getBlockDurationTime(lockbox.blockDuration)}}</span></label>
                                    <div class="input-group">
                                        <input id="blockDuration" v-model.number="lockbox.blockDuration" type="number" min="0" max="80640" class="form-control" placeholder="0" />
                                    </div>
                                    <div id="durationButtons" class="row">
                                        <span class="col-1 button" v-on:click="subtractBlockDays()">-</span>
                                        <span class="col-2">days</span>
                                        <span class="col-1 button sep" v-on:click="addBlockDays()">+</span>

                                        <span class="col-1 button" v-on:click="subtractBlockHours()">-</span>
                                        <span class="col-2">hours</span>
                                        <span class="col-1 button sep" v-on:click="addBlockHours()">+</span>

                                        <span class="col-1 button" v-on:click="subtractBlockMinutes()">-</span>
                                        <span class="col-2">minutes</span>
                                        <span class="col-1 button" v-on:click="addBlockMinutes()">+</span>
                                    </div>
                                </div>
                                <button id="createLockBoxButton" class="btn btn-primary btn-block mt-4">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="view === 'signer.register'" class="row">
                    <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                        <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
                            <h3 class="text-5 font-weight-400 mb-3 mb-sm-4">Register Signer</h3>
                            <hr class="mx-n3 mx-sm-n5 mb-4">
                            <div id="createLockboxForm">
                                <div class="form-group">
                                    <label for="ethAddress">Address</label>
                                    <div class="input-group">
                                        <input id="ethAddress" type="text" class="form-control" v-bind:value="ethAddress" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="paymentAddress" style="display:block;">Payment Address <span v-bind:class="'float-right address-' + isAddressValid(signer.paymentAddress)">{{isAddressValid(signer.paymentAddress)}}</span></label>
                                    <div class="input-group">
                                        <input id="paymentAddress" v-model="signer.paymentAddress" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="signerDomain">Domain</label>
                                    <div class="input-group">
                                        <input id="signerDomain" v-model="signer.domain" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="percentage" style="display:block;">Percentage</label>
                                    <div class="input-group">
                                        <input id="percentage" v-model.number="signer.percentage" min="0" max="49" type="number" class="form-control" placeholder="0" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                </div>
                                <button id="registerSignerBoxButton" class="btn btn-primary btn-block mt-4">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content end -->
        <!-- Footer
        ============================================= -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg d-lg-flex align-items-center">
                        <ul class="nav justify-content-center justify-content-lg-start text-3">
                            <li class="nav-item"> <a class="nav-link active" href="#">About Us</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Support</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Help</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Careers</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Affiliate</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Fees</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                    <div class="row">
                        <div class="col-lg">
                            <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2020 <a href="#">bLOCKBOX</a>. All Rights Reserved.</p>
                        </div>
                        <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                            <ul class="nav justify-content-center">
                                <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->

    </div>
    <!-- Document Wrapper end -->
    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/timespan/TimeSpan-1.2.min.js"></script>
    <script src="vendor/blockies/blockies.js"></script>
    <script src="vendor/web3/web3.min.js"></script>
    <script src="js/theme.js?v=5"></script>
    <script src="js/vueInit.js?v=5"></script>
    <script src="js/app.js?v=5"></script>
    <script>
        "use strict";

        if (typeof window.ethereum !== 'undefined') {
            window.ethereum.autoRefreshOnNetworkChange = false;

            window.web3 = new Web3(window.ethereum);

            app.init();
        }

        async function login() {
            if (typeof window.web3 !== 'undefined') {
                try {
                    await ethereum.request({ method: 'eth_requestAccounts' });
                }
                catch (error) {
                    if (error.code === -32002) {
                        alert("There is already a pending connection request. Please open metamask to continue.");
                    }
                }
            }
        }

        $(document).on("click", "#createLockBoxButton", function () {
            app.ethereum.lockboxAuction.createLockbox(vue.lockbox.id, vue.lockbox.price, vue.lockbox.minBidStep, vue.lockbox.blockDuration);
        });

        $(document).on("click", "#registerSignerBoxButton", function () {
            if (!web3.utils.isAddress(vue.signer.paymentAddress)) {
                return;
            }

            app.ethereum.signerRegistry.registerSigner(vue.signer.domain, vue.signer.paymentAddress, vue.signer.percentage);
        });

        window.ethereum.on('accountsChanged', function (accounts) {
            app.ethereum.setAccounts(accounts);
        });

        window.ethereum.on('chainChanged', function (chainId) {
            if (app.ethereum.lockboxAuction.chainContractAddresses[chainId]) {
                app.init();
            }
        });

        window.ethereum.on('disconnect', function (error) {
            app.ethereum.setAccounts([]);
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A==" crossorigin="anonymous"></script>
    <script src="/js/algosdk.min.js"></script>
    <script>
        let algodClient = new algosdk.Algodv2({ 'X-API-key': 'BNnTW7O9a49w1EuYfNyz32OZ66R6PnC53edyiEnD' }, "https://testnet-algorand.api.purestake.io/ps2", "");

        function base64ToArrayBuffer(base64) {
            var binary_string = window.atob(base64);
            var len = binary_string.length;
            var bytes = new Uint8Array(len);
            for (var i = 0; i < len; i++) {
                bytes[i] = binary_string.charCodeAt(i);
            }
            return bytes.buffer;
        }

        async function signGroupTransactions() {
            if (typeof AlgoSigner !== 'undefined') {
                await AlgoSigner.connect();

                let accounts = await AlgoSigner.accounts({ ledger: `TestNet` });

                let txParams = await AlgoSigner.algod({
                    ledger: 'TestNet',
                    path: '/v2/transactions/params',
                });

                let txn1 = {
                    from: accounts[0].address,
                    to: accounts[1].address,
                    fee: txParams['min-fee'],
                    type: 'pay',
                    amount: 1000000,
                    firstRound: txParams['last-round'],
                    lastRound: txParams['last-round'] + 1000,
                    genesisID: txParams['genesis-id'],
                    genesisHash: txParams['genesis-hash']
                };

                let txn2 = {
                    from: accounts[1].address,
                    to: accounts[1].address,
                    fee: txParams['min-fee'],
                    type: 'pay',
                    amount: 2000000,
                    firstRound: txParams['last-round'],
                    lastRound: txParams['last-round'] + 1000,
                    genesisID: txParams['genesis-id'],
                    genesisHash: txParams['genesis-hash']
                };

                let txnGroup = algosdk.assignGroupID([txn1, txn2]);

                let groupId = btoa(String.fromCharCode.apply(null, txnGroup[0].group));

                txn1.group = groupId;
                txn2.group = groupId;

                let signedTxn1 = await AlgoSigner.sign(txn1);
                let signedTxn2 = await AlgoSigner.sign(txn2);

                var decoded1 = algosdk.decodeSignedTransaction(base64ToArrayBuffer(signedTxn1.blob));
                var decoded2 = algosdk.decodeSignedTransaction(base64ToArrayBuffer(signedTxn2.blob));

                decoded1.group = txnGroup[0].group;
                decoded2.group = txnGroup[0].group;

                let signed = [];
                signed.push(decoded1);
                signed.push(decoded2);

                let tx = (await algodClient.sendRawTransaction(signed).do());
                console.log("Transaction : " + tx.txId);
            }
        }

        async function createTransactionGroup() {

            let params = await algodClient.getTransactionParams().do();

            let myAccountA = algosdk.mnemonicToSecretKey("kiss scale hollow raw region together boy teach wise devote eyebrow gloom crouch talent prize marriage circle uniform biology one market goose toy ability lounge");
            let myAccountB = algosdk.mnemonicToSecretKey("rack unaware humor fringe deliver arrange pill soldier escape spread magnet crazy canoe olive tag badge globe dish dirt fit soul leave blush absent rough");
            let myAccountC = algosdk.mnemonicToSecretKey("churn silk notable usual develop quiz soap undo cheap myself crowd delay dream call cat sad museum vicious shed burger wagon crane swear absorb lemon");

            // Transaction A to C
            let transaction1 = algosdk.makePaymentTxnWithSuggestedParams(myAccountA.addr, myAccountC.addr, 1000000, undefined, undefined, params);

            //Create transaction B to A
            let transaction2 = algosdk.makePaymentTxnWithSuggestedParams(myAccountB.addr, myAccountA.addr, 2000000, undefined, undefined, params);

            // Combine transactions
            let txns = [transaction1, transaction2];

            // Group both transactions
            let txgroup = algosdk.assignGroupID(txns);

            console.log(btoa(String.fromCharCode.apply(null, transaction1.group)));

            let signedTx1 = transaction1.signTxn(myAccountA.sk);
            let signedTx2 = transaction2.signTxn(myAccountB.sk);

            let signed = [];
            signed.push(signedTx1);
            signed.push(signedTx2);

            let tx = (await algodClient.sendRawTransaction(signed).do());
            console.log("Transaction : " + tx.txId);

            var foo = "bar";
        }

        async function createNonFungibleAsset(assetName) {
            let note = undefined; // arbitrary data to be stored in the transaction; here, none is stored

            // Asset creation specific parameters
            // The following parameters are asset specific
            // Throughout the example these will be re-used.
            // We will also change the manager later in the example
            let creator = algosdk.mnemonicToSecretKey(await getMnemonic());

            // Whether user accounts will need to be unfrozen before transacting
            let defaultFrozen = false;

            // integer number of decimals for asset unit calculation
            let decimals = 0;

            // total number of this asset available for circulation
            let totalIssuance = 1;

            // Used to display asset units to user
            let unitName = "NFT";

            // Optional string pointing to a URL relating to the asset
            let assetURL = "https://testtest.com/c/fffffffff";

            // Optional hash commitment of some sort relating to the asset. 32 character length.
            let assetMetadataHash = "c535d5d22a534c49af4f3b369899e358";

            // The following parameters are the only ones
            // that can be changed, and they have to be changed
            // by the current manager
            // Specified address can change reserve, freeze, clawback, and manager
            let manager = creator.addr;

            // Specified address is considered the asset reserve
            // (it has no special privileges, this is only informational)
            let reserve = undefined;

            // Specified address can freeze or unfreeze user asset holdings
            let freeze = undefined;

            // Specified address can revoke user asset holdings and send
            // them to other addresses
            let clawback = creator.addr;

            let params = await algodClient.getTransactionParams().do();

            // signing and sending "txn" allows "addr" to create an asset
            let txn = algosdk.makeAssetCreateTxnWithSuggestedParams(creator.addr, note,
                totalIssuance, decimals, defaultFrozen, manager, reserve, freeze,
                clawback, unitName, assetName, assetURL, assetMetadataHash, params);

            let rawSignedTxn = txn.signTxn(creator.sk)

            let tx = (await algodClient.sendRawTransaction(rawSignedTxn).do());

            console.log("Transaction : " + tx.txId);

            // wait for transaction to be confirmed
            await waitForConfirmation(algodClient, tx.txId);

            // Get the new asset's information from the creator account
            let ptx = await algodClient.pendingTransactionInformation(tx.txId).do();

            return ptx["asset-index"];
        }

        async function waitForConfirmation(algodclient, txId) {
            let status = (await algodclient.status().do());
            let lastRound = status["last-round"];
            while (true) {
                const pendingInfo = await algodclient.pendingTransactionInformation(txId).do();
                if (pendingInfo["confirmed-round"] !== null && pendingInfo["confirmed-round"] > 0) {
                    //Got the completed Transaction
                    console.log("Transaction " + txId + " confirmed in round " + pendingInfo["confirmed-round"]);
                    break;
                }
                lastRound++;
                await algodclient.statusAfterBlock(lastRound).do();
            }
        };

        if (localStorage.getItem("encryptedMnemonic") === null) {
            let mnemonic = prompt("Enter your mnemonic", "");

            if (mnemonic !== null && mnemonic !== "" && mnemonic.split(" ").length == 25) {
                let password = prompt("Enter your password", "");

                if (password !== null && password !== "") {
                    localStorage.setItem("encryptedMnemonic", CryptoJS.AES.encrypt(mnemonic, password).toString());
                }
            }
        }

        async function getMnemonic() {
            if (localStorage.getItem("encryptedMnemonic") !== null) {
                let password = prompt("Enter your password", "");

                if (password !== null && password !== "") {
                    var decryptedBytes = CryptoJS.AES.decrypt(localStorage.getItem("encryptedMnemonic"), password);
                    return decryptedBytes.toString(CryptoJS.enc.Utf8);
                }
            }
        }
    </script>
</body>
</html>